<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NewPackage.RequireVerified" value="false"/>
    <add key="PackageDeployServer" value="59.151.116.136"/>
    <add key="WebSite.Path" value="E:\web\aoh.yiche.com"/>
    <add key="WebSite.Name" value="aoh.yiche.com.preonline"/>
    <add key="WebSite.Directory.Backup" value="e:\backup\web"/>
    <add key="WebSite.HealthMonitorURL" value="http://localhost:8088/api/monitor/health?key=s3s9@1"/>
  </appSettings>
</configuration>