<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PackageDeployServer" value="192.168.200.29"/>
    <add key="WebSite.Path" value=""/>
    <add key="WebSite.Directory.Backup" value=""/>
    <add key="WebSite.Name" value=""/>
    <add key="WebSite.HealthMonitorURL" value=""/>
  </appSettings>
</configuration>