<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NewPackage.RequireVerified" value="true"/>
    <add key="PackageDeployServer" value="localhost:58077"/>
    <add key="WebSite.Path" value="d:\web\aoh.yiche.com"/>
    <add key="WebSite.Name" value="aoh.yiche.com"/>
    <add key="WebSite.Directory.Backup" value="d:\backup\web"/>
    <add key="WebSite.HealthMonitorURL" value="http://localhost/api/monitor/health?key=s3s9@1"/>
  </appSettings>
</configuration>